{% load staticfiles %}
<div class="baseBox" style="padding: 7% 4% 5% 3%;overflow-x: hidden;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2" >
                <div class="sidebar-nav-fixed affix">
                    <div ng-controller="AppCtrl as vm" ng-cloak>

                        <md-content style="background-color:#F8F8F8;box-shadow: 0px 1px 3px grey;" >
                            <div style="background-color: rgb(31, 186, 214);height: 30px;color: white;text-align: center;font-size: large;font-weight: 700;padding: 2%" >Recent</div>
                            <md-list style="height: 250px;width: 200px;overflow-x: hidden">
                                <md-list-item class="md-1-line" ng-repeat="data in vm.data">
                                    <img ng-src=" [[data.face]] " class="face">
                                    <div class="md-list-item-text">
                                        <h6>[[data.sender]]</h6>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                </div>
                <!--/sidebar-nav-fixed -->
            </div>

            <div class="col-md-9" >

                <div ng-controller="AppCtrl as vm" >
                    <md-content class="md-padding">
                            <div data-ng-repeat="data in vm.data" track by $index>
                                <div ng-click="vm.clicked($index)" ng-show="!vm.show[$index]" style="outline:none; " >
                                <md-card style="background-color:#F8F8F8;max-width:90%;margin: auto" >
                                    <md-card-content style="position: relative">
                                        <div class="date" style="float: right;top:5px;position: absolute;right: 5px;">[[data.date]]</div>
                                        <img src="{% static "images/voda.jpg"  %}" class="face2" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>[[data.sender]]</b>
                                        <br>
                                        <br>
                                        <div class="container-fluid" style="margin-left: 5%">
                                            <div class="row" style="text-align: center">

                                                <div class="col-md-4">
                                                    <div style="text-align:none;font-size: 15px;color:gray">Category</div><br>
                                                    <div class="exp" style="line-height:100px;background-color: white;color:#1FBAD6;font-weight: 600;margin-bottom: 25px; " ng-show="vm.data.category == 'Recharge'"> <i class="fa fa-mobile fa-3x"></i></div>
                                                    <div class="exp" style="line-height:100px;background-color: white;color:#1FBAD6;font-weight: 600;margin-bottom: 25px; " ng-show="vm.data.category == 'Travel'"> <i class="fa fa-plane fa-2x"></i></div>
                                                    <div style="text-align:none;font-size: 15px;">[[vm.data.category]]</div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div style="text-align:none;font-size: 15px;color:gray">Retailer</div><br>
                                                    <img src="{% static "images/voda.jpg" %}" class="face1" style="margin-bottom: 25px;">
                                                    <div style="font-size: 18px; font-weight:500">Vodafone</div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div style="text-align:none;font-size: 15px;color:gray">Amount</div><br>
                                                    <div class="exp" style="background-color: white;color:#1FBAD6;font-weight: 600;"><i class="fa fa-inr" style="font-size: 15px;"></i>&nbsp;<span style="font-size: 20px;">[[data.ammount]]</span></div><br><br>
                                                    <div style="color:#3CD515;font-size: 20px;border-color:#3CD515;border-style: solid;margin-left: 25%;margin-right: 25%">PAID</div>

                                                    <span style="font-size: 10px;">Id:[[data.order]]</span>
                                                </div>

                                            </div>
                                        </div>
                                    </md-card-content>
                                </md-card>
                                    <div ><i class="fa fa-share fa-1x" style="padding-right: 4%;padding-left: 8%;color:#1FBAD6 "></i>
                                        <a href="{% static "images/voda.jpg"%}" download >
                                        <i class="fa fa-download fa-1x" style="color:#1FBAD6"></i>
                                        </a>
                                    </div>
                                </div>
                                <md-card style="background-color:#F8F8F8;max-width:100%;margin:auto; autobox-shadow:0px 3px 10px grey;margin-bottom: 5px;padding: 5%;outline:none; " ng-click="vm.clicked($index)" ng-show="vm.show[$index]">
                                    <div ng-bind-html="data.html_content" style="margin: 5%;"></div><br>
                                    <div style="float: left"><i class="fa fa-share fa-1x" style="padding-right: 4%;padding-left: 4%;color:#1FBAD6 "></i>
                                        <a href="{% static "images/voda.jpg"%}" download >
                                        <i class="fa fa-download fa-1x" style="color:#1FBAD6"></i>
                                        </a>
                                    </div>
                                </md-card>

                                <br/>
                            </div>


                    </md-content>
                </div>

            </div>
            <!--/span-->
            <div class="col-md-1" >
                <div class="sidebar-nav-fixed pull-right affix">
                    <div ng-controller="AppCtrl as vm" layout="column" style="height:550px;" ng-cloak>
                        <section layout="row" flex>
                            <md-content flex layout-padding>
                                <div style="float:right">
                                    <md-button aria-label="toggle" ng-click="vm.toggleRight()"
                                               class="md-primary">
                                        <i class="fa fa-bars fa-3x" style="color: #1FBAD6"></i>
                                    </md-button>
                                </div>


                            </md-content>

                            <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                                <md-toolbar ng-controller="RightCtrl as vm"  class="md-theme-light" style="background-color:white">
                                    <ul>
                                        <li  style="display: inline-block"><span class="md-toolbar-tools" style="font-size:25px; font-weight: 500;color: #1FBAD6"><i class="fa fa-line-chart"></i>&nbsp;&nbsp;DASHBOARD</span></li>
                                        <li style="display: inline-block;float: right;margin-top:10px;"><md-button aria-label="Close" ng-click="vm.close()" class="md-primary">
                                            <i class="fa fa-times fa-2x" style="color: #1FBAD6"></i>
                                        </md-button></li>
                                    </ul>
                                </md-toolbar>
                                <md-content ng-controller="RightCtrl as vm" layout-padding>


                                </md-content>
                            </md-sidenav>
                        </section>
                    </div>
                </div>
                <!--/sidebar-nav-fixed
            </div>-->
            <!--/span-->
        </div>
        <!--/row-->

    </div>
    <!--/.fluid-container-->
</div><!--/.baseBox-->
<style>

    .carddemoBasicUsage md-card {
        min-height: 200px; }

    img.face {
        border-radius: 20px;
        border: 1px solid #ddd;
        width: 35px;
        margin: 10px;
    }

    img.face1{
        width:80px;
        height:80px;
        border-radius:100%;
    }
    img.face2{
        width:30px;
        height:30px;
        border-radius:100%;
    }

    .fabSpeedDialdemoBasicUsage .text-capitalize {
        text-transform: capitalize; }
    .fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
        background-color: #000 !important; }
    .fabSpeedDialdemoBasicUsage p.note {
        font-size: 1.2rem; }
    .fabSpeedDialdemoBasicUsage .lock-size {
        min-width: 300px;
        min-height: 300px;
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto; }

    md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 200px !important;
        width: 75vw !important;
        max-width: 1800px !important;
    }
    #circle-icon {
        background: lightgray;
        width: 50px;height: 50px;-webkit-border-radius: 25px;-moz-border-radius: 25px;border-radius: 25px;

    }
    .head-icon {

        padding: 5px 10px;
        display: inline-block;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        -moz-box-shadow: 0px 0px 2px #888;
        -webkit-box-shadow: 0px 0px 2px #888;
        box-shadow: 0px 0px 2px #888;
        background-color: #DB4437;
    }


    .exp{
        width:80px;
        height:80px;
        background-color:#1FBAD6;
        border-radius:100%;
        line-height:80px;
        text-align:center;
        vertical-align:middle;
        display:inline-block;
        color: white;
        box-shadow: 1px 1px 5px grey;
    }



</style>



