
<div>
  <head>
    <title>Your Google+ Activity</title>
    <style type=text/css>
      td  { vertical-align: top; padding: 0.5em }
      img { border:0 }
    </style>
  </head>
  <!--  
  welcome to the screen!!!!!!!!!!
  <br></br>total count : {{len1}}
    <table border=1>
      {% for data in cluster1 %}
      	<tr><td>{{ data|safe }}</td></tr>
      {% endfor %}
    </table>
  welcome to the screen!!!!!!!!!!
  <br></br>total count : {{len2}}  
    <table border=1>
      {% for data in cluster2 %}
      	<tr><td>{{ data|safe }}</td></tr>
      {% endfor %}
    </table>
  welcome to the screen!!!!!!!!!!
  <br></br>total count : {{len3}}  
    <table border=1>
      {% for data in cluster3 %}
      	<tr><td>{{ data|safe }}</td></tr>
      {% endfor %}
    </table>
    
     welcome to the screen!!!!!!!!!!
  <br></br>total count : {{len4}}  
    <table border=1>
      {% for data in cluster4 %}
      	<tr><td>{{ data|safe }}</td></tr>
      {% endfor %}
    </table>
 -->
  welcome to the screen!!!!!!!!!!
  <br></br>total count :  
    <table border=1>
      {% for data in clust1 %}
      	<tr><td>{{ data|safe }}</td></tr>
      {% endfor %}
    </table>
    
    welcome to the screen!!!!!!!!!!
  <br></br>total count :  
    <table border=1>
      {% for data in clust2 %}
      	<tr><td>{{ data|safe }}</td></tr>
      {% endfor %}
    </table>
    
    welcome to the screen!!!!!!!!!!
  <br></br>total count :  
    <table border=1>
      {% for data in clust3 %}
      	<tr><td>{{ data|safe }}</td></tr>
      {% endfor %}
    </table>
    
</div>
