<div ng-controller="AppCtrl as vm" layout="column" style="height:300px;" ng-cloak>
    <section layout="row" flex>
        <md-content flex layout-padding>
            <div style="float:right">
                    <md-button ng-click="vm.toggleRight()"
                               class="md-primary">
                        <i class="fa fa-bars fa-3x"></i>
                    </md-button>
            </div>


        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl as vm" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="vm.close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>
<style>
    md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
        min-width: 200px !important;
        width: 50vw !important;
        max-width: 900px !important;
    }
</style>